.container {
  background-image: url(../../media/images/bgc_login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.login {
  height: 100vh;
  max-width: 484px;
  background-color: rgba(255, 255, 255, 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 200px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.input {
  font-family: "Montserrat", sans-serif;
  min-width: 290px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid snow;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: snow;
}

.input:focus {
  outline: none;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: snow;
  border-radius: 5px;
  border: none;
  min-height: 50px;
  margin-top: 20px;
  transition: ease-in-out 250ms;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  opacity: 60%;
  transition: ease-in-out 250ms;
}

.input_login_container {
  position: relative;
}

.input_login_container:before {
  content: "";
  position: absolute;
  top: -20px;
  bottom: 0;
  right: 0;
  margin: auto 0;
  width: 20px;
  height: 17px;
  background: url("../../media/images/person_login.svg") no-repeat;
  background-size: cover;
}

.input_pass_container:before {
  content: "";
  position: absolute;
  top: -20px;
  bottom: 0;
  right: 0;
  margin: auto 0;
  width: 20px;
  height: 17px;
  background: url("../../media/images/pass_login.png") no-repeat;
  background-size: cover;
}

.input_pass_container {
  position: relative;
}
