.accordion {
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
}

.accordion__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    width: 100%;
    padding: 18px;
    border: none;
    background-color: rgba(242, 242, 242, 1);
    cursor: pointer;
    transition: ease-in-out 250ms;
    border-radius: 5px;
}

.accordion__button:hover {
    background-color: #f2f2f2;
}

.accordion__button::after {
    content: '\292C';
    font-weight: 700;
    font-size: 28px;
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.accordion__button[data-active="true"]{
    background-color: #f2f2f2;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: ease-in-out 250ms;
}

.accordion__button[data-active="true"]::after {
    transform: rotate(45deg);
}

.accordion__panel {
    height: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 10px;
    background-color: #fff;
    transition: ease-in-out 250ms;
    margin-bottom: 10px;
    border-radius: 5px;
}

.accordion__panel[data-active="true"] {
    height: 110px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 14px 14px 0;
    transition: ease-in-out 250ms;
}

@media (max-width: 1024px) {
    .accordion__button {
        font-size: 24px;
        line-height: 30px;
        padding: 18px;
    }

    .accordion__panel {
        font-size: 16px;
        line-height: 24px;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .accordion__panel[data-active="true"] {
        height: 80px;
        padding: 14px 14px 0;
    }
}

@media (max-width: 768px) {
    .accordion__button {
        font-size: 22px;
        line-height: 24px;
        padding: 16px;
    }

    .accordion__panel[data-active="true"] {
        height: 80px;
        padding: 14px 14px 0;
    }
}

@media (max-width: 425px) {
    .accordion__button {
        font-size: 20px;
        line-height: 22px;
        padding: 16px;
    }

    .accordion__panel {
        font-size: 16px;
        line-height: 24px;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .accordion__panel[data-active="true"] {
        height: 140px;
        padding: 14px 14px 0;
    }

    .accordion__button::after {
        font-weight: 600;
        font-size: 26px;
    }
}

@media (max-width: 320px) {
    .accordion__button {
        font-size: 18px;
        line-height: 20px;
        padding: 14px;
    }

    .accordion__panel {
        font-size: 16px;
        line-height: 24px;
        padding: 0 10px;
    }

    .accordion__panel[data-active="true"] {
        height: 184px;
        padding: 14px 14px 0;
    }

    .accordion__button::after {
        font-weight: 500;
        font-size: 24px;
    }
}
