.mainWrapper {
    background: rgba(255, 87, 51, 1);
    padding-top: 118px;
    margin-bottom: 84px;
}

.landingContent {
    background: url("../../../../media/images/Landing/landingPhoto.svg") no-repeat 90% 50%;
    background-size: 35%;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.landingContent_text {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 120px;
    line-height: 145px;
    color: snow;
    max-width: 640px;
    padding-top: 310px;
    margin-left: 84px;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .mainWrapper {
        padding-top: 50px;
        margin-bottom: 64px;
    }

    .landingContent {
        background-size: 40%;
        min-height: 780px;
    }

    .landingContent_text {
        font-size: 90px;
        line-height: 135px;
        padding-top: 250px;
        margin-left: 80px;
        margin-bottom: 20px;

    }
}

@media (max-width: 768px) {
    .mainWrapper {
        padding-top: 0;
        margin-bottom: 44px;
    }

    .landingContent {
        background: url("../../../../media/images/Landing/landingPhoto.svg") no-repeat 90% 70%;
        background-size: 45%;
        min-height: 680px;
    }

    .landingContent_text {
        font-size: 60px;
        line-height: 120px;
        padding-top: 200px;
        margin-left: 40px;
        max-width: 400px;
    }
}

@media (max-width: 425px) {
    .landingContent {
        background: none;
        min-height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .landingContent_text {
        font-size: 80px;
        line-height: 120px;
        padding-top: 100px;
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    .landingContent_text {
        font-size: 70px;
        line-height: 110px;
        padding-top: 60px;
    }
}

.main {
    max-width: 1440px;
    margin: 0 auto;
}

.goalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding: 0 120px;
    margin-bottom: 84px;
}

.goalLine {
    background-color: rgba(255, 153, 102, 1);
    height: 8px;
    width: 94px;
    margin-bottom: 34px;
    border: none;
}

.goalText {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
    max-width: 480px;
    margin-right: 20px;
}

.goalImg {
    width: 55%;
    height: auto;
    border-radius: 5px;
}

.table {
    margin-bottom: 84px;
}

.table_text {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 84px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
}

@media (max-width: 1024px) {
    .goalContainer {
        padding: 0 64px;
        margin-bottom: 64px;
    }

    .goalText {
        font-size: 22px;
        line-height: 30px;
    }

    .goalImg {
        width: 60%;
        height: auto;
    }

    .table {
        margin-bottom: 64px;
    }

    .table_text {
        font-size: 28px;
        line-height: 34px;
        max-width: 600px;
        margin: 0 auto 64px;
        padding: 8px;
    }
}

@media (max-width: 768px) {
    .goalContainer {
        padding: 0 44px;
        margin-bottom: 44px;
    }

    .goalImg {
        width: 60%;
        height: auto;
    }

    .table {
        margin-bottom: 44px;
    }

    .table_text {
        font-size: 26px;
        line-height: 32px;
        margin: 0 auto 44px;
    }
}

@media (max-width: 425px) {
    .goalContainer {
        display: flex;
        flex-direction: column;
    }

    .goalImg {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .table_text {
        max-width: 300px;
        font-size: 22px;
        line-height: 30px;
        margin: 0 auto 44px;
    }
}

@media (max-width: 320px) {
    .goalContainer {
        padding: 0 20px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_title {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto 84px;
    text-align: center;
}

.about_cardList {
    display: flex;
    flex-wrap: wrap;
}

.about {
    padding-bottom: 84px;
}

@media (max-width: 1024px) {
    .about_title {
        font-size: 28px;
        line-height: 36px;
        margin: 0 auto 64px;
    }

    .about {
        padding-bottom: 64px;
    }
}

@media (max-width: 768px) {
    .about_title {
        font-size: 26px;
        margin: 0 auto 44px;
    }

    .about {
        padding-bottom: 44px;
    }

    .about_cardList {
        flex-direction: column;
    }
}

@media (max-width: 425px) {
    .about_title {
        font-size: 26px;
        margin: 0 auto 44px;
    }
}

.questionForm_container {
    text-align: center;
    margin-bottom: 84px;
}

.questionForm_title {
    font-family: "Poppins", serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.questionForm_subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 24px;
    max-width: 560px;
    font-weight: 200;
    margin: 0 auto 20px;
}

.questionForm {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.questionForm input {
    margin-bottom: 10px;
    height: 40px;
    border: solid 1px rgba(255, 153, 102, 1);
    border-radius: 5px;
    padding-left: 15px;
}

.questionForm textarea {
    margin-bottom: 10px;
    min-height: 100px;
    border: solid 1px rgba(255, 153, 102, 1);
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 10px;
    resize: none;
}

.questionForm button {
    font-family: "Montserrat", sans-serif;
    height: 40px;
    font-size: 18px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    background-color: rgba(255, 153, 102, 1);
    color: #ffffff;
    transition: 250ms ease-in-out;
    cursor: pointer;
}

.questionForm button:hover {
    opacity: 0.8;
    transition: 250ms ease-in-out;
}

@media (max-width: 1024px) {
    .questionForm_container {
        margin-bottom: 64px;
    }

    .questionForm_title {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .questionForm_subtitle {
        font-size: 18px;
        margin: 0 auto 20px;
    }
}

@media (max-width: 768px) {
    .questionForm_container {
        margin-bottom: 44px;
    }

    .questionForm_title {
        font-size: 36px;
    }
}

@media (max-width: 425px) {
    .questionForm_title {
        font-size: 34px;
    }

    .questionForm_subtitle {
        font-size: 16px;
        margin: 0 auto 10px;
        padding: 0 10px 0 10px;
    }

    .questionForm {
        max-width: 360px;
    }

    .questionForm button {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .questionForm_title {
        font-size: 32px;
    }

    .questionForm_subtitle {
        font-size: 16px;
        max-width: 300px;
        margin: 0 auto 20px;
    }

    .questionForm {
        max-width: 300px;
    }
}

.footer_wrapper {
    background-color: rgba(255, 87, 51, 1);
}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: inherit;
    padding: 40px;
    max-width: 1440px;
    margin: 0 auto;
    color: snow;
}

.footer_section {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_title {
    font-family: "Poppins", serif;
    font-size: 26px;
}

.footer_titleMain {
    margin-bottom: 14px;
}

.footer_text {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin-bottom: 14px;
    transition: ease-in-out 250ms;
    cursor: pointer;
}

.footer_text:hover {
    opacity: 0.5;
    transition: ease-in-out 250ms;
}

.footer_links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
}

.footer_links img {
    margin-left: 10px;
    transition: ease-in-out 250ms;
}

.footer_links img:hover {
    opacity: 0.5;
    transition: ease-in-out 250ms;
}

.footer_author {
    background-color: #000000;
    color: snow;
    font-size: 12px;
    opacity: 0.8;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .footer_container {
        padding: 20px;
    }

    .footer_title {
        font-size: 24px;
    }

    .footer_text {
        font-size: 16px;
    }

    .footer_author {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .footer_title {
        font-size: 22px;
    }

    .footer_text {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .footer_container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .footer_title {
        font-size: 22px;
    }

    .footer_text {
        font-size: 16px;
        font-weight: 300;
    }
}

@media (max-width: 320px) {
    .footer_container {
        flex-direction: column;
        text-align: center;
    }

    .footer_links {
        display: none;
    }

    .footer_title {
        margin-top: 20px;
    }
}
